{# empty Twig template #}
<!DOCTYPE html>
<html>
    

<head>
    <meta charset="utf-8">
    <title>{% block title %}CookMyChoice{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset ('css/afficherclient.css')}}">
         <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
         <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
        
</head>    
    
<body>
    <h1> Bienvenue {{ (app.user.nom) }} {{ (app.user.prenom) }}</h1>

    <p> Commencez par selectionner jusqu'à 3 ingredients :</p>
    
<div class="form-style-5">
<form action="/trouverPlat" methode="Post">
<fieldset>
<legend><span class="number">1</span> Candidate Info</legend>

<select id="categorie1" name="categorie1">
     <option value="">choisir une categories</option>
 {%for cat in lesCategories%}
     <option value={{cat.nomCategorie}}>{{cat.nomCategorie}}</option>
 {%endfor%}
</select>  
<select id="ingredient1" name="ingredient1">
    
{# {%for cat in lesIngredients%}
     <option value={{cat.nomIgredient}}>{{cat.nomIgredient}}</option>
 {%endfor%}#}
</select> 
<legend><span class="number">1</span> Candidate Info</legend>
<select id="categorie2" name="categorie2">
      <option value="">choisir une categories</option>
 {%for cat in lesCategories%}
     <option value={{cat.nomCategorie}}>{{cat.nomCategorie}}</option>
 {%endfor%}
</select>  
<select id="ingredient2" name="ingredient2">
{# {%for cat in lesIngredients%}
     <option value={{cat.nomIgredient}}>{{cat.nomIgredient}}</option>
 {%endfor%}#}
</select> 
<legend><span class="number">1</span> Candidate Info</legend>
<select id="categorie3" name="categorie3">
      <option value="">choisir une categories</option>
 {%for cat in lesCategories%}
     <option value={{cat.nomCategorie}}>{{cat.nomCategorie}}</option>
 {%endfor%}
</select>  
<select id="ingredient3" name="ingredient3">
{# {%for cat in lesIngredients%}
     <option value={{cat.nomIgredient}}>{{cat.nomIgredient}}</option>
 {%endfor%}#}
</select> 
</fieldset>

<input type="submit" value="Apply" />
</form>
</div>
</body>


    