<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}CookMyChoice{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset ('css/main.css')}}">
        {% endblock %}
         {% block javascripts %}           
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        {% endblock %}
</head>


<!--
    youtube:  https://www.youtube.com/channel/UCqlv40k1N0L9nsSrzL1OWwg/videos
    site:     http://www.templateindirr.com
-->

<main>
    
{#    <form action="{{path ("connexion")}}" method="POST">
    login<input type="text" name="_username" />
    password<input type="text" name="_password" />
    <input type="submit" value="Se connecter"/>
</form>#}
    {% if erreurs %}
        {%dump (erreurs)%}
        {%dump (login)%}
        Login ou mot de passe incorrect!
    {% endif %}
    
<div class="login">
   	<div class="container">
	    <div class="col-lg-12 login-box" >
		    
    		<div class="col-lg-6 left-box"></div>
    		
    	 	<div class="col-lg-6 right-box">
    	 	    <h1>LOGIN</h1>
	
{#                <div class="form">#}
                    <form class="form" action="{{path ("connexion")}}" method="POST">
            
                    <div class="form-group">
            		    <label for="username">Your usersname </label>
                        <input type="text" id="username" class="form-control" name="_username">
                        
                    </div>
            
                    <div class="form-group">
            		    <label for="password">Your password</label>
                        <input type="password" id="password" class="form-control"  name="_password">
                       
                    </div>
            
                    <div class="login-button">
                        <button class="btn btn-default">Login</button>
                    </div>
            </form>
{#                </div>#}
            </div>  <!-- right-box -->
	    	
		</div> <!--col-lg-8-->
    </div>
</div>    
</main> 

</html>