{#{% extends "CookMyChoiceBundleView/Authentification/choixlangue.html.twig" %}#}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}CookMyChoice{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset ('css/main.css')}}">
        {% endblock %}
         {% block javascripts %}           
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        {% endblock %}
</head>

<main>

<h1>Page d'incription</h1>
<p>Veuillez completer vos données : </p>

{{ form_start (formulaire, {'action': path('inscription'), 'method': 'POST'}) }}
        <br>
    {{ form_row (formulaire.nom) }}
        <br>
    {{ form_row (formulaire.prenom) }}
       <br>
    {{ form_row (formulaire.eMail) }}
       <br>
       {{ form_row (formulaire.login) }}
       <br>
    {{ form_row (formulaire.passwordOriginal.first) }}
       <br>
    {{ form_row (formulaire.passwordOriginal.second) }}
       <br>
    <button type="submit">S'inscrire!</button>
       <br>
{{ form_end (formulaire) }}
</main>

</html>
