<h1>Welcome to CookMyChoice</h1>
<br/><br/>
<form action="/afficherIngredientsCategorie" method="POST">
    <select name="categorie">
       {% for index, objCategorie in lesCategories%}
           <option value="{{objCategorie.id}}">{{objCategorie.nomCategorie}}</option>
       {%endfor%}   
       <input type="submit" value="Envoyer" />
    </select>
</form>

