{#<img src="{{ asset('uploads/images/' ~ logo.image) }}" height="100px" width="250px">#}

<html>

<head>
    
     <meta charset="utf-8">

    <title>{% block title %}CookMyChoice{% endblock %}</title>

    {% block stylesheets %}
        
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset ('css/main.css')}}">
    <link rel="stylesheet" href="{{ asset('style/css/choixlangue.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />

    <script src="{{ asset('js/jquery.min.js') }}"></script>

    <script src="{{ asset('js/bootstrap.js') }}"></script>

    {% endblock %}
    
    
        {#<title>{% block title %}CookMyChoice{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset ('css/choixlangue.css')}}">
        {% endblock %}
         {% block javascripts %}           
        <script src="/js/main.js"></script>
        {% endblock %}#}


</head>


<body>
    <div class="row">

        <!-- Static navbar -->

        <nav class="navbar navbar-default navbar-fixed-top">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

            <span class="sr-only">Toggle navigation</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

          </button>
                <a class="navbar-brand" href="#"><img src="{{ asset('img/image1.jpeg') }}" width="30" height="30" class="img-responsive brand"></a>

            </div>

            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav">

                    <li class="active"><a href="#">Accuiel</a></li>

                    <li><a href="#">Mes choix</a></li>

                    <li><a href="#">Reservation</a></li>

                    <li><a href="#">Commande</a></li>

                    <li><a href="#">A propos</a></li>

                    <li><a href="#">Contact</a></li>
                    
                    <li><a href="#">Se deconnecter</a></li>

                </ul>

            </div>

            <!--/.nav-collapse -->

            <!--/.container-fluid -->

        </nav>

        <!-- Main component for a primary marketing message or call to action -->

    </div>

    <div class="container block">

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 pull-left ">
                
                {% block body %}

                    <h1>Bonjour Au CookMyChoice  -  Welcome to CookMyChoice</h1>

                        <div class="fr" >Choisissez votre langue  :
                            <a class="btn-link" type="button" href="/inscription"> Français </a>
                            {#<a href="{{ path('select_lang', {'langue' : 'fr'}) }}">FR</a>#}
                        </div>
                            <br>
                        <div class="en" >Choose your language  :
                               <a class="btn-link" type="button" href="/inscription"> Anglais </a>
                                {#<a href="{{ path('select_lang', {'langue' : 'en'}) }}">EN</a>#}
                        </div>{# empty Twig template #}
                        <p class=" text-justify presentation lead">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at tortor a urna ultricies sagittis ut sed dui. Vivamus non mollis libero, a tincidunt felis. Etiam augue libero, congue a velit nec, feugiat aliquam turpis. Integer id aliquet ante. Curabitur vulputate lectus vel sem vulputate convallis dapibus quis justo. Nulla sit amet tortor ac ante iaculis ultricies nec in ex. Fusce sit amet nisi neque. Aenean rutrum efficitur efficitur. In hac habitasse platea dictumst.

                        </p>

                {% endblock %}

            </div>

        </div>

    </div>

    <footer>

        <div class="footer" id="footer">

            <div class="container">

                <div class="row">

​

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

​

                        <i class="fa fa-map-marker fa-2x info" aria-hidden="true"></i><br/> 54 rue du Paruck à 1080 Bruxelles

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">

                        <i class="fa fa-envelope fa-2x info" aria-hidden="true"></i><br/>cookMyChoice@gmail.com

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">

                        <i class="fa fa-phone fa-2x info" aria-hidden="true"></i><br/>02/243.22.56

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                        <ul class="social">

                            <li>

                                <a href="#"> <i class="fa fa-facebook">  </i> </a>

                            </li>

                            <li>

                                <a href="#"> <i class="fa fa-twitter">   </i> </a>

                            </li>

                            <li>

                                <a href="#"> <i class="fa fa-google-plus">   </i> </a>

                            </li>

                            <li>

                                <a href="#"> <i class="fa fa-pinterest">   </i> </a>

                            </li>

                        </ul>

                    </div>

                </div>

                <!--/.row-->

            </div>

            <!--/.container-->

        </div>

        <!--/.footer-->

        <div class="footer-bottom">

            <div class="container">

                <p class="text-center"> Copyright @Fatima Meftah 2018. All right reserved. </p>

            </div>

        </div>

        <!--/.footer-bottom-->

    </footer>


</body>
</html>