<h1>Bonjour Au CookMyChoice  -  Welcome to CookMyChoice</h1>
<br/><br/>

<div class="fr" >Choisissez votre plat parmi nos suggestions :
    <a class="btn-link" type="button" href="/inscription"> Français </a>
    {#<a href="{{ path('select_lang', {'langue' : 'fr'}) }}">FR</a>#}
</div>
<br>

